<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper green darken-1">

      <img src="/assets/images/literally-an-onion.png" alt="picture of a yellow onion" style="width: 40px; height: 40px; margin-top: 0.5%; margin-left: 1%; margin-right: 1%">

      <div class="brand-logo">  
        <a href="https://www.theonion.com/" target="_blank">The Onion Scraper</a>
      </div>

      <ul class="right">
        <li><a class="btn waves-effect waves-light black hvr-sweep-to-bottom" href="/scrape"><i class="material-icons left">save_alt</i>Scrape New Articles</a></li>
      </ul>

    </div>
  </nav>
</div> 

<section class="section mainContent">
  <div class="row">  
    <div class="container col l8 m6 s6 articleSection" style="margin-left: 5%">
        <div id="scraped-articles"></div>
    </div>
    <div class="container col l4 m6 s6 commentSection" style="right: 5%">
        <div id="notes"></div>
    </div>
  </div>
</section>