<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper green darken-1">

      <div class="brand-logo">  
        <img src="/assets/images/literal-onion.png" alt="picture of a yellow onion" style="width: 40px; height: 40px;">
        <a href="https://www.theonion.com/" target="_blank">The Onion Scraper</a>
      </div>

      <ul class="right">
        <li><a class="btn waves-effect waves-light black" href="/scrape"><i class="material-icons left">save_alt</i>Scrape New Articles</a></li>
      </ul>

    </div>
  </nav>
</div> 

<section class="section mainContent">
  <div class="row">  
    <div class="container col l8 m8 s8">
        <div id="scraped-articles"></div>
    </div>
    <div class="container col l4 m4 s4">
        <div id="notes" class="right"></div>
    </div>
  </div>
</section>